[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/bot
Environment=PATH=/root/bot/bot_env/bin
ExecStart=/root/bot/bot_env/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
